.cart{
    flex:1;
    padding-bottom: 100px;
}
.cart-title h2{
    color:rgb(237, 61, 111);
}
.cart-title{
    padding-top: 50px;
    padding-bottom: 50px;
}
.user-cart{
    padding-bottom:100px;
}
.cart-title p{
   font-size: 20px;
}
#title, .card-title , .user-cart h2{
    color: rgb(237, 61, 111);
}
hr{
    color: rgb(224, 224, 45);
    border-width: 5px;
}
.card{
    overflow: hidden;
}
.card img{
   height:300px;
   transition: transform 0.3s ease;
}
.card-text{
    font-size: 20px;
}
.card img:hover{
    transform: scale(1.1);
}
.payment-btn{
    margin-top:60px;
    font-size: 25px;

}
