.checkout h5{
    background-color: rgb(237, 61, 111);
    width:250px;
    margin-left: 520px;
}
hr{
    color: rgb(224, 224, 45);
    border-width: 5px;
}
.methods , .summary{
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color:#f5f5f5;
    box-shadow:0 6px 10px rgba(0,0,0,0.2);
}
.btn-credit , .btn-cash{
    padding:15px 50px 15px 50px;
    font-size:20px;
}
.Payment{
    flex:1;
}
form , .address, .summary-food-div , .total{
    margin-top: 40px;
}
.inputs{
    margin-bottom: 20px;
}
.form-label , .Check-service-privacy{
    font-size: 20px;
}
.form-control{
    padding:10px;
}
.credit-div , .cash-div{
    display: none;
}
.total-row{
    font-size: 20px;
    line-height: 50px;
}
